body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.input-section {
    margin-bottom: 15px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    background: #eee;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
}
